body {
    padding: 10px;
}

.listing-item {
    display: flex;
    flex-direction: row;
}

.listing-image {
    height: 250px;
    width: auto;
    margin-right: 20px;
}

.listing-details {
    flex-grow: 1;
}

#date {
    color: rgb(101, 101, 101);
    font-size: 12px;
}