* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: hsla(0, 0%, 90%, 0.427);
    padding: 2em 5em 1em 5em;
}

.active-section {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.active-listings {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
}

.listing-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 236px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition-duration: 300ms;
    font-size: larger;
}

.watchlist-listing-item {
    background-color: #f6f0c4;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 236px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition-duration: 300ms;
    font-size: larger;
    
}

.watchlist-listing-item:hover {
    background-image: linear-gradient(#ece6bb, #fffacd);
    box-shadow: 0 10px 15px 0px #00000033;
    transition-duration: 200ms;
}

.own-listing-item {
    background-color: #c4ccf6;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 236px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition-duration: 300ms;
    font-size: larger;
}

.own-listing-item:hover {
    background-image: linear-gradient(#adb2db, #cfd6fc);
    box-shadow: 0 10px 15px 0px #00000033;
    transition-duration: 200ms;
}


.listing-item:hover {
    background-image: linear-gradient(#dbdbdb63, #ffffff);
    box-shadow: 0 10px 15px 0px #00000033;
    transition-duration: 200ms;
}

.listing-image {
    height: 200px;
    width: 200px;
    border-radius: 0.1em;
    margin-bottom: 1em;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.listing-details {
    display: flex;
    flex-direction: column;
    gap: 0em;
    p {
        margin-bottom: 0.1em;
    }
}

.listing-details a{
    text-decoration-line: none;
    color: black;
}

.listing-details a:hover{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.listing-details a h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.2em;
}

.listing-details a h5:hover{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.listing-details p {
    font-size: 14px;
}

.item-section {
    display: flex;
    gap: 1em;
}

.item-section div img{
    width: 30em;
    height: auto;
    border-radius: 0.1em;
    margin-bottom: 1em;
    object-fit: cover;
}

.user-listing-manage {
    display: flex;
    gap: 1em;
}

.comments-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#listing-category {
    color: rgb(101, 101, 101);
    font-size: 12px;
}

#listing-category:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

#date {
    color: rgb(101, 101, 101);
    font-size: 12px;
}

#price {
    font-size: 30px;
}

#item-description {
    margin-top: 1em;
    margin-bottom: 1em;
}
