{% extends "auctions/layout.html" %}

{% block title %}Categories{% endblock title %}

{% block body %}
    <h2>Categories</h2>
    <div class="list-group">
        {% for category in categories %}
            {% if category.listings.count > 0 %}
                <a class="list-group-item list-group-item-action" aria-current="true" href="{% url 'category' category.id %}">
            {% else %}
                <a class="list-group-item list-group-item-action disabled" aria-current="true" href="{% url 'category' category.id %}">
            {% endif %}
                    {{ category.name }}
                    {% comment %} <span class="badge badge-primary badge-pill">
                        {{ category.listings.count }}
                    </span> {% endcomment %}
                    {% comment %} No es posible implementar
                    el conteo de listings por categoria
                    debido a que no hay forma de operar dentro de un formulario :(
                    TODO cuando aprenda React, implementarlo xd {% endcomment %}
                </a>
        {% endfor %}
    </div> 
{% endblock body %}