{% extends "auctions/layout.html" %}

{% block title %}Categories{% endblock title %}

{% block body %}
    <h2>Categories</h2>
    <div class="list-group">
        {% for category in categories %}
            {% if category.listings.count > 0 %}
                <a class="list-group-item list-group-item-action" aria-current="true" href="{% url 'category' category.id %}">
            {% else %}
                <a class="list-group-item list-group-item-action disabled" aria-current="true" href="{% url 'category' category.id %}">
            {% endif %}
                    {{ category.name }}
                    <span class="badge badge-primary badge-pill">
                        {{ category.listings.count }}
                    </span>
                </a>
        {% endfor %}
    </div> 
{% endblock body %}