{% extends "auctions/layout.html" %}

{% block title %}Edit Listing{% endblock title %}

{% block body %}
    <h2>Edit Listing</h2>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class='create-listing'>
        <form action="{% url 'edit' listing_id=listing.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="name" placeholder="Listing Name" value="{{listing.name}}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="Description" value="{{listing.description}}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="Image Source URL" value="{{listing.image}}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="category" placeholder="Category" list="category-list" value="{{listing.category.name}}">
                <datalist id="category-list">
                    {% for category in categories %}
                        <option value="{{ category }}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <input class="form-control" type="tel" name="starting-bid" placeholder="Starting Bid" value="{{listing.current_price}}" {% if listing.current_price != listing.starting_bid %}readonly{%endif%}>
            </div>
            <input class="btn btn-success" type="submit" value="Commit Changes">
            <input class="btn btn-danger" type="submit" value="Cancel">
        </form>
    </div>
{% endblock body %}