{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class='active-listings'>
        {% for listing in listings %}
            {% if user.is_authenticated %}
                {% if user == listing.made_by %}
                    <div class='own-listing-item'>
                {% else %}
                    {% if listing in watchlist %}
                        <div class='watchlist-listing-item'>
                    {% else %}
                        <div class='listing-item'>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if listing in watchlist %}
                    <div class='watchlist-listing-item'>
                {% else %}
                    <div class='listing-item'>
                {% endif %}
            {% endif %}
                <img src='{{listing.image}}' alt='{{listing.name}}' class='listing-image'/>
                <div class='listing-details'>
                    <a href="{% url 'listing' listing_id=listing.pk %}">
                        <h5>{{listing.name}}</h5>
                    </a>
                    <p>Price: ${{listing.current_price}}</p>
                    <a href="{% url 'category' category_id=listing.category.pk %}">
                        <p id='listing-category'>{{listing.category}}</p>
                    </a>
                    <small id='date'>Created {{listing.date}}</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}