{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class='active-listings'>
        {% for listing in listings %}
            <a>
                <div class='listing-item'>
                    <img src='{{listing.image}}' alt='{{listing.name}}' class='listing-image'/>
                    <div class='listing-details'>
                        <h5>{{listing.name}}</h5>
                        <p><bold>Price:</bold> {{listing.current_price}}</p>
                        {% if listing.description %}
                            <p>{{listing.description}}</p>
                        {% endif %}
                        <p><bold>Category:</bold> {{listing.category}}</p>
                        <p id='date'>Created {{listing.date}}</p>
                        <a href="{{listing.image}}">View</a>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}