{% extends "auctions/layout.html" %}

{% block title %}{{listing.name}}{% endblock title %}

{% block body %}
    <div class='listing'>
        <!-- Detalles sobre el listing, imagen y tal, con flex in row -->
        <div class='item-section'>
            <div>
                <a href="{{listing.image}}">
                <img src="{{listing.image}}" alt="{{listing.name}}"/></a>
            </div>
            <div class='listing-details'>
                {% if message %}
                    <div class="alert alert-danger" role="alert">{{message}}</div>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user == listing.made_by %}
                        {% if listing.opened %}
                            <div class="alert alert-success" role="alert">Opened</div>
                        {% else %}
                            <div class="alert alert-danger">Closed</div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <h3>
                    {{listing.name}}
                    {% if user.is_authenticated %}
                        {% if user != listing.made_by %}
                            {% if listing not in watchlist %}
                                <a href="{% url 'add_watchlist' listing_id=listing.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{% url 'remove_watchlist' listing_id=listing.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </h3>
                
                {% comment %} si el precio actual difiere del inicial mostrar el inicial {% endcomment %}
                {% if listing.current_price != listing.starting_bid %}
                    <p id='starting-bid'>$ {{listing.starting_bid}}</p>
                    {% comment %} si la puja anterior difiere de la inicial la muestra {% endcomment %}
                    {% if listing.starting_bid != listing.earliest_bid %}
                        <p id='earliest-bid'>$ {{listing.earliest_bid}}</p>
                    {% endif %}
                {% endif %}
                <p id="current-price">$ {{listing.current_price}}</p>

                <a href="{% url 'category' category_id=listing.category.pk %}">See more in {{listing.category}}</a>
                <p id='date'>Created {{listing.date}}</p>
                
                <div id="item-description">
                    <h4>Description</h4>
                    {% if listing.description %}
                        <p>{{listing.description}}</p>
                    {% else %}
                        <p>No description provided.</p>
                    {% endif %}
                </div>

                <!-- formulario para bids -->
                {% if user.is_authenticated %}
                    <form class='user-listing-manage' action="{% url "bid" listing_id=listing.pk %}" method="post">
                        {% csrf_token %}
                        {% if user == listing.made_by %}
                            <!-- si el usuario es el que hizo el listing -->
                            {% if listing.opened %}
                                <a href="{% url 'listing_bids' listing_id=listing.pk %}">
                                    <button type="button" class="btn btn-primary" {% if not listing.bids.count %}disabled{% endif %}>See Bids</button>
                                </a>
                                <a href="{% url 'edit' listing_id=listing.pk %}">
                                    <button type="button" class="btn btn-primary">Edit</button>
                                </a>
                                <a href="{% url 'close' listing_id=listing.pk %}">
                                    <button type="button" class="btn btn-success" >Close Bid</button>
                                </a>
                            {% endif %}
                            <a href="{% url 'delete' listing_id=listing.pk %}">
                                <button type="button" class="btn btn-danger" >Delete</button>
                            </a>
                        {% else %}
                            <div class="input-group mb-3">
                                <input class="form-control" type="number" name="bid" step="0.01" min="{{listing.current_price}}" placeholder="{{listing.current_price}}" {% if user == last_bidder %}readonly disabled{% endif %}/>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" value="Place Bid" {% if user == last_bidder %}disabled{% endif %}>Place Bid</button>
                                </div>        
                            </div>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
        <!-- TODO hacer todo de comentarios -->
        <!-- Commentarios  -->

        <div class="comments-section">
            {% for comment in comments %}
                <div class="comment"> 
                    <p>{{ comment.user }} said:</p>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock body %}