{% extends "auctions/layout.html" %}

{% block title %}{{listing.name}}{% endblock title %}

{% block body %}
    <div class='listing'>
        <!-- Detalles sobre el listing, imagen y tal, con flex in row -->
        <div class='item-section'>
            <div>
                <a href="{{listing.image}}">
                <img src="{{listing.image}}" alt="{{listing.name}}"/></a>
            </div>
            <div class='listing-details'>
                {% if message %}
                    <div class="alert alert-danger" role="alert">{{message}}</div>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user == listing.made_by %}
                        {% if listing.opened %}
                            <div class="alert alert-success" role="alert">Opened</div>
                        {% else %}
                            <div class="alert alert-danger">Closed</div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <h3>
                    {{listing.name}}
                    {% if user.is_authenticated %}
                        {% if user != listing.made_by %}
                            {% if listing not in watchlist %}
                                <a href="{% url 'add_watchlist' listing_id=listing.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{% url 'remove_watchlist' listing_id=listing.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </h3>
                
                {% comment %} si el precio actual difiere del inicial mostrar el inicial {% endcomment %}
                {% if listing.current_price != listing.starting_bid %}
                    <p id='starting-bid'>$ {{listing.starting_bid}}</p>
                    {% comment %} si la puja anterior difiere de la inicial la muestra {% endcomment %}
                    {% if listing.starting_bid != listing.earliest_bid %}
                        <p id='earliest-bid'>$ {{listing.earliest_bid}}</p>
                    {% endif %}
                {% endif %}
                <p id="current-price">$ {{listing.current_price}}</p>

                <a href="{% url 'category' category_id=listing.category.pk %}">See more in {{listing.category}}</a>
                <p id='date'>Created {{listing.date}}</p>
                
                <div id="item-description">
                    <h4>Description</h4>
                    {% if listing.description %}
                        <p>{{listing.description}}</p>
                    {% else %}
                        <p>No description provided.</p>
                    {% endif %}
                </div>

                <!-- formulario para bids -->
                {% if user.is_authenticated %}
                    <form class='user-listing-manage' action="{% url "bid" listing_id=listing.pk %}" method="post">
                        {% csrf_token %}
                        {% if user == listing.made_by %}
                            <!-- si el usuario es el que hizo el listing -->
                            {% if listing.opened %}
                                <a href="{% url 'listing_bids' listing_id=listing.pk %}">
                                    <button type="button" class="btn btn-primary" {% if not listing.bids.count %}disabled{% endif %}>See Bids</button>
                                </a>
                                <a href="{% url 'edit' listing_id=listing.pk %}">
                                    <button type="button" class="btn btn-primary">Edit</button>
                                </a>
                                <a href="{% url 'close' listing_id=listing.pk %}">
                                    <button type="button" class="btn btn-success" >Close Bid</button>
                                </a>
                            {% endif %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
                                Delete
                            </button>
                            <!-- modal para el boton de borrar -->
                            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Delete the listing</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this listing? This action cannot be undone.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a href="{% url 'delete' listing_id=listing.pk %}">
                                                <button type="button" class="btn btn-danger">Delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="input-group mb-3">
                                <input class="form-control" type="number" name="bid" step="0.01" min="{{listing.current_price}}" placeholder="{{listing.current_price}}" {% if user == last_bidder %}readonly disabled{% endif %}/>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" value="Place Bid" {% if user == last_bidder %}disabled{% endif %}>Place Bid</button>
                                </div>        
                            </div>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
        <hr/>

        <!-- Commentarios  -->
        <div class="comments-section">
            <h2>Comments</h2>
            {% if comments|length == 0%}
                <p>No comments yet. Be the first to comment!</p>
            {% endif %}
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            {% if user.is_authenticated %}
                                <a href="{% url 'remove_comment' comment_id=comment.pk %}">
                                    <button type="button" class="btn btn-outline-danger" style="float:right;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                </a>
                                <p>{{comment.content}}</p>
                                <footer class="blockquote-footer">@{{ comment.user }} on <cite title="Source Title">{{ comment.date }}</cite></footer>
                            {% endif %}
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
            
            <form action="{% url 'comment' listing_id=listing.pk %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Comment</span>
                    </div>
                    <textarea class="form-control" name="content" aria-label="With textarea"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="submit" id="button-addon2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}